
.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color: cadetblue;
  padding: 10px;
}
.list-item {
  padding: 10px 20px;
  color: brown;
}
.list-link {
  color: brown;
  font-size: 18px;
  font-weight: 500;
}
